{% extends "generic.html" %}
{% block content %}

<div class="row">
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">

          <!-- select element here -->
          <select name="language_options" id="language_options" onchange="change_MyPlot2(this.value)"></select>
        </li>
      </ul>

    </div>
  </nav>

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Movie Runtime By Year By Language</h1>
    </div>
    <div class="row">
      <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

        <!-- graph shows here -->
        <div id="runtime-by-language"></div>
      </div>
    </div>


    
  </main>
</div>
{% endblock %}




